extends layout

block content
  h1= title
  br
  form(action="/update" method="post")
    .form-group
      br
      .col-md-6 
       p Name: 
       h3 #{user.name}
       br
       p Email:
       h3 #{user.username}
       br
       p Gender:
       h3 #{user.gender}
       br
       
       p Address:
       br
       input#street.form-control(type='text' value='')
       input#city.form-control(type='text' value='')
       input#Country.form-control(type='text' value='')
      .col-md-6
        p Interests:
        input#interest1.form-control(type='text' value='')
        input#interest2.form-control(type='text' value='')
        input#interest3.form-control(type='text' value='') 
        br  
        p Gym:
        br
        input#gym.form-control(type='text' value='')
        br
        p About Me:
        textarea#aboutMe.form-control(rows='4', cols='20')
        br

  //NEED TO DO AN POST REQ UPDATE OF USER'S PROFILE ON SERVER SIDE
  input.btn.btn-default(type='submit', value='Update')


    
    
  script.
    //Populate with INTEREST data from db
    //Might change input text to dropdown box with pre-defined values later
    var interest1Var = "#{interest1}"; //unique var
    if (interest1Var == ''){
      document.getElementById('interest1').placeholder = "Enter an interest e.g. Gym";
    } else {
      document.getElementById('interest1').value = interest1Var;
    }
    
    var interest2Var = "#{interest2}"; //unique var
    if (interest2Var == ''){
      document.getElementById('interest2').placeholder = "Enter an interest e.g. Running";
    } else {
      document.getElementById('interest2').value = interest2Var;
    }
    
    var interest3Var = "#{interest1}"; //unique var
    if (interest3Var == ''){
      document.getElementById('interest3').placeholder = "Enter an interest e.g. Tennis";
    } else {
      document.getElementById('interest3').value = interest3Var;
    }
    
    //Populate with GYM data from db
    var gymVar = "#{user.gym}";
    if (gymVar == ''){
      document.getElementById('gym').placeholder = "Enter a gym";
    } else {
      document.getElementById('gym').value = gymVar;
    }
    
    //Populate with DESCRIPTION data from db
    var aboutMeVar = "#{user.aboutMe}";
    if (aboutMeVar == ''){
      document.getElementById('aboutMe').placeholder = "Enter a description";
    } else {
      document.getElementById('aboutMe').value = aboutMeVar;
    }
    
    //Populate with ADDRESS data from db
    var streetVar = "#{streetAddress}"; //use unique var from loginregister.js GET request
    if (streetVar == ''){
      document.getElementById('street').placeholder = "Street";
    } else {
      document.getElementById('street').value = streetVar;
    }

    var cityVar = "#{cityAddress}";
    if (cityVar == ''){
      document.getElementById('city').placeholder = "City";
    } else {
      document.getElementById('city').value = cityVar;
    }
    
    var countrytVar = "#{countryAddress}";
    if (countrytVar == ''){
      document.getElementById('Country').placeholder = "Country";
    } else {
      document.getElementById('Country').value = countrytVar;
    }
    
  

  
